#negociacao-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

input[type="text"] {
  padding: 5px;
  font-size: 16px;
  margin-top: 10px;
}

button {
  padding: 10px 20px;
  background-color: blue;
  color: white;
  margin-top: 20px;
}
